/* Header Section Start */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
    background: #022D7C;
}

/* /Header Section End */

/* Banner Section Start */
.banner {
    width: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/Industry.jpg);
    background-size: cover;
}

.banner h1 {
    font-size: 55px;
    font-weight: normal;
}

.banner h1 span {
    display: block;
    font-size: 77px;
    font-weight: 600;
}

.banner aside {
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    background: #022D7c;
}

.banner aside input[type],
.banner aside textarea,
.banner aside button {
    width: 100%;
    margin: 7px;
    height: 50px;
}

/* /Banner Section End */

/* Our Features Section Start */
.feature {
    width: 100%;
    height: auto;
    display: flex;
    color: #022D7c;
    padding: 60px 100px;
    justify-content: space-between;
}

.feature div {
    width: 30%;
    height: 400px;
}

.feature div h2 {
    font-size: 40px;
    margin-bottom: 7px;
}

.feature div img {
    width: 350px;
    height: 250px;
}

.feature div p {
    margin-top: 5px;
    font-size: 18px;
    text-align: justify;
}

/* /Our Features Section End  */

/* About us Section Start */
.about {
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    padding: 60px 300px;
    background: #022D7C;
}

.about h2 {
    font-size: 33px;
    margin-bottom: 7px;
}

.about p {
    font-size: 18px;
    font-weight: normal;
}

.about button {
    color: #fff;
    margin-top: 7px;
    padding: 15px 120px;
    font-weight: bold;
    background: #022D7C;
    border: 2px solid #fff;
    border-radius: 4px;
}

/* /About us Section End */

/* Service Section Start */
.service {
    width: 100%;
    height: auto;
    padding: 0px 100px;
}

.service .upper,
.service .lower {
    display: flex;
    align-items: center;

}

.service p {
    font-size: 20px;
    font-weight: normal;
}

.service .image,
.service .content {
    width: 50%;
}

.service .image img {
    width: 575px;
    height: 500px;

}

/* /Service Section End */

/* Footer Section Start */
footer {
    width: 100%;
    height: auto;
    color: #fff;
    padding: 10px 100px;
    background-color: #022D7C;
    text-align: center;
}

/* Footer Section End */
/* Media Query Section End */
@media screen and (max-width:992px) {
    header {
        padding: 10px;
    }

    header h2 {
        font-size: 20px;
    }

    .banner {
        padding: 10px;
    }

    .banner h1 {
        font-size: 42px;
        padding-left: 20px;
    }

    .feature {
        padding: 50px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature div img,
    .feature div p {
        margin-left: -50%;
    }

    .feature div h2 {
        margin: 0px;
    }

    .feature div {
        width: 35%;
        height: 450px;
    }

    .about {
        padding: 20px;
    }

    .service {
        padding: 10px;
    }

    .service .upper,
    .service .lower {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service .image .service .content {
        width: auto;
        padding-left: 0px !important;
    }
}

@media screen and (max-width:768px) {
    header h2 {
        font-size: 14px;
    }

    header h2 span {
        font-size: 10px;
        text-wrap: nowrap;
    }

    .banner {
        height: auto;
        padding: 10px;
        flex-direction: column;
    }

    .banner h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .banner h1 span {
        font-size: 42px;
    }

    .feature {
        height: 499px;
        padding: 22px 27px;
    }

    .feature div {
        width: 30%;

    }

    .feature div h2 {
        font-size: 20px;
    }

    .feature div img {
        width: 100%;
        height: 189px;
    }

    .feature div p {
        font-size: 17px;
    }

    .about {
        padding: 59px 84px;
    }

    .about button {
        margin-top: 26px;
    }

}

@media screen and (max-width:576px) {
    .header {
        width: 100%;
        height: 80px;
        padding: 10px;
    }

    .header h2 {
        display: block;
        font-size: 15px;
    }

    .header h2 span {
        display: block;
    }

    .feature {
        height: auto;
        /* padding: 22px 20px; */
        flex-direction: column;
    }

    .feature div {
        width: 100%;
        height: auto;
        padding: 15px 0px;
    }

    /* .feature div h2{
        font-size: 20px;
    } */

    .feature div img {
        width: 100%;
        height: auto;
    }

    .feature div p {
        font-size: 17px;
    }

    .about {
        padding: 24px 12px;
    }

    .about h2 {
        font-size: 27px;
    }

    .about p {
        font-size: 16px;
    }

    .service .image img {
        height: auto;
    }


    .footer h2 {
        font-size: 12px;
        margin-bottom: 7px;
    }
}

/* Media Query Section Start */